@model IEnumerable<UniversityApi.Models.Unversity>

@{
    ViewData["Title"] = "UnversitiesList";
}

<h1>UnversitiesList</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in (List<Unversity>)ViewBag.unversities) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            
        </tr>
}
    </tbody>
</table>
